@use "../../../../scss/utils/" as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
  padding-top: rem(120);
  padding-bottom: rem(120);
  text-align: center;

  svg {
    margin-bottom: rem(20);
    max-width: rem(400);
    max-height: rem(400);
  }
}

.title {
  margin: 0;
  margin-bottom: rem(20);
  max-width: rem(800);
}

.subtitle {
  display: inline-block;
  margin-bottom: rem(30);
  font: var(--cap03-font);
  color: var(--mediumgray-color);
}