/* stylelint-disable order/order */
@use "./utils/" as *;

.srOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.overflowHiddenX {
  overflow-x: hidden;
}

.container {
  // max-width: rem(1280);

  // @include bp-up("container") {
  //   margin-inline: auto;
  // }

  // @include bp-down("container") {
  //   margin-inline: rem(30);
  // }

  // @include bp-down("992") {
  //   margin-inline: rem(20);
  // }

  // @include bp-down("576") {
  //   margin-inline: rem(10);
  // }


  // &1024 {
  //   max-width: rem(1024);

  //   @include bp-down("container") {
  //     margin-inline: auto;
  //   }

  //   @include bp-down("1084") {
  //     // 1024 + 30*2(margin-inline) + 20(scrollbar)
  //     margin-inline: rem(30);
  //   }

  //   @include bp-down("992") {
  //     margin-inline: rem(20);
  //   }

  //   @include bp-down("576") {
  //     margin-inline: rem(10);
  //   }
  // }
}

.title {
  // margin: 0;
  // font: var(--h2-font);
  // letter-spacing: rem(-2);
  // color: var(--black-color);

  // @include bp-down("container") {
  //   font-size: calc(rem(25.49) + 0.78vw); // 36>28 (1340>320)
  // }
}

.btn {
  display: inline-block;
  border: rem(1) solid var(--yellow-color);
  padding-top: rem(17);
  padding-bottom: rem(15);
  padding-inline: rem(48);
  font: var(--btn-font);
  color: var(--black-color);
  background-color: var(--yellow-color);
  transition: opacity 0.3s;
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &Message {
    display: none;
    margin-top: rem(5);
    font: var(--validation-font);
    line-height: 100%;
    text-align: left;
    color: var(--danger-color);
  }

  &Wrapper {
    position: relative;

    // **
    &[data-auth-message] {
      .btnMessage {
        display: block;
        color: var(--danger-color);
      }
    }

    // **
    &[data-request-success] {
      .btnMessage {
        display: block;
        color: var(--success-color);
      }
    }

    &[data-request-warning] {
      .btnMessage {
        display: block;
        color: var(--danger-color);
      }
    }

    &[data-request-process] {
      .btnMessage {
        display: block;
        color: var(--black-color);
      }
    }
  }

  &:hover {
    border: rem(1) solid var(--yellow-hover-color);
    background-color: var(--yellow-hover-color);
    transition: background-color 0.3s;
  }
}

// **
.input {
  outline: none;
  border: rem(1) solid var(--mediumgray05-color);
  border-radius: rem(2);
  padding-right: rem(86);
  padding-left: rem(24);
  padding-block: rem(23);
  width: 100%;
  font: var(--body01-font);
  color: inherit;
  background-color: var(--light-color);
  transition: border-color 0.3s;

  &Message {
    display: none;
    margin-top: rem(5);
    font: var(--validation-font);
    line-height: 100%;
    text-align: left;
    color: var(--danger-color);
  }

  &SelectSvg {
    position: absolute;
    right: rem(66);
    top: 50%;
    width: rem(20);
    height: rem(20);
    stroke: var(--black-color);
    transform: translateY(-50%) rotate(180deg);
    transform-origin: center;

    &Active {
      @extend .inputSelectSvg;

      transform: translateY(-50%) rotate(0);
    }
  }

  &Wrapper {
    position: relative;
    font-size: 0;

    &Inner {
      position: relative;
    }

    &Active {
      @extend .inputWrapper;

      >.input {
        border-color: var(--danger-color);
      }

      .inputWrapperInner {
        position: relative;

        >.input {
          border-color: var(--danger-color);
        }
      }

      >.inputMessage {
        display: block;
      }
    }
  }

  // **
  &::placeholder {
    font: inherit;
    color: inherit;
  }

  &:focus {
    border: rem(1) solid var(--black-color);
  }
}

// **
.select {
  position: relative;
  cursor: pointer;

  &Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black-color);

    &:hover {
      color: var(--black-color);
    }

    &Active {
      color: var(--black-color);
    }
  }

  &Selected {
    display: block;
    overflow: hidden;
    margin-right: rem(4);
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.3s;
    user-select: none;
  }

  &Wrapper {
    // box-shadow: var(--small-shadow);
    position: absolute;
    left: rem(-1);
    top: calc(100% + rem(4));
    z-index: var(--z-postup);
    border: rem(1) solid var(--mediumgray-color);
    border-radius: rem(4);
    padding-right: rem(10); // Для каст. скроллбара
    width: calc(100% + rem(2));
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    cursor: default;

    &Active {
      opacity: 1;
      visibility: visible;
    }
  }

  &List {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    max-height: rem(160);
    background-color: var(--light-color);
  }

  &Item {
    padding-block: rem(2);
    color: var(--black-color);
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--purple-color);
    }

    &Active {
      color: var(--mediumgray-color);
    }
  }
}

// **
.skeleton {
  display: block;
  border-radius: rem(4);
  background-color: var(--skeleton-color);
  animation: var(--skeleton-animation);
  pointer-events: none;
  user-select: none;
}